*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}

/* same-items */
.btn{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #E55473;
    color: white;
    border: 0px;
    border-radius: 5px;
}
/* .btn:hover{
    border: gray 1px solid;
    cursor: pointer;
} */


/* banner section start here */
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #FCEEF1;
}

.left-div{
    margin-left: 220px;
}

.right-div{
    margin-right: 60px;
}


.banner-header{
    margin-right: 150px;
    font-size: 40px;
    color: #272727;
}

.banner-description{
    margin-top: 20px;
    margin-right: 10px;
    color: rgba(39, 39, 39, 0.60);
}


.banner-flower{
    width: 500px;
    padding-top: 30px;
    padding-right: 70px;  
}


/* Featured section start here */
.Featured-section{
    margin-top: 100px;
}

.featured-title{
    text-align: center;
    color: #272727;
}
.featured-description{
    margin: 10px 400px 0px 400px;
    color: rgba(39, 39, 39, 0.60);
    
}

.featured-img{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    /* width: 250px; */
}
.featured-img-1{
    margin-left: 180px;
    background-color: #F2DEE7;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    height: 280px;
    width: 290px;
    
}
/* .featured-img-1:hover , .featured-img-2:hover, .featured-img-3:hover{
    box-shadow: 3px 3px 5px lightblue;
} */

.featured-img-2{
    background-color: #D9EFF1;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    height: 280px;
    width: 290px;
}
.featured-img-3{
    margin-right: 180px;
    background-color: #E3EBDB;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    height: 280px;
    width: 290px;
}
#img{
    height: 210px;
    width: 150px; 
    padding-top: 70px;
    padding-left: 70px; 
}
h5{
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    color: #272727;
}
h5:hover{
    font-size: 15px;
    cursor: pointer;
}


/* icons section start here */
.icons{
    
    background-color: #F4F4F4;
    margin-top: 100px;
    padding: 50px;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
}
.icon-section{
    
    display: flex;
    justify-content: space-around;
}   


.icon-description{
    justify-content: space-between;
    display: flex;
    margin-top: 10px;
    font-size: 14px;
    color: rgba(39, 39, 39, 0.80);
}
/* .icon-description p:hover{
    font-weight: bold;
    cursor: pointer;
} */

.icon-image{
    height: 50px;
    width: 50px;
}
.icon-description-1{
    margin-left: 30px;
}
.icon-description-2{
    padding: 0px;
}
.icon-description-3{
    margin-right: 85px;
}


/* deal section1 start here */
.deal-section-1{
    display: flex;
    margin-top: 80px;
    background-color: #FEF6F8;
    height: 400px;
    justify-content: space-around;   
}
.deal-img{
    height: 250px;
    width: 200px;
}
.deal-section-image{
   text-align: center;
    margin-top: 75px; 
    margin-right: 120px;
}
.deal-title{
    text-align: center;
    margin-top: 150px;
    width: 520px;
    margin-left: 150px;
    color: #272727;
}
.span-1{
    color: #E75E7B;
}
.deal-description{
    margin-top: 15px;
    color: rgba(39, 39, 39, 0.60);
}


/* instagram/Facebook/Most-selling-flowers section start here */
.instagram , .Facebook, .Most-selling-flowers{
    text-align: center;
    margin-top: 60px;
}
.instagram-title , .Facebook-title, .Most-selling-flowers-title{
   width: 450px;
   margin: 0 auto;
   
   
}
.instagram-heading, .Facebook-heading, .Most-selling-flowers-heading{
    color: #272727;
}
#insta-description, #Facebook-description, #Most-selling-flowers-description{
    margin-top: 15px;
    color: rgba(39, 39, 39, 0.60);
}
.instagram-img ,.Facebook-img, .Most-selling-flowers-img{
    display: flex;
    justify-content: space-around;
    margin: 40px 185px 0px 185px; 
    
}
.instagram-img img , .Facebook-img img, .Most-selling-flowers-img img{
    height: 250px;
    width: 220px;

    margin-bottom: 65px;
}
/* .hover-cls:hover{
    font-size: 25px;
    text-decoration: underline;
    cursor: pointer;
}
.img-hover-class:hover{
    box-shadow: 3px 3px 5px lightblue;
} */

/* deals section2 start here */
.container {
    position: relative;
    max-width: 955px; 
    margin: 0 auto;
  }
  
.container .content {
    position: absolute; 
    bottom: 0; 
    color: black;
    width: 100%; 
    padding: 20px; 
    text-align: center;
    margin-bottom: 80px;
}


.deals-desc{
    font-size: 14px;
    margin-top: 15px;
    color: rgba(39, 39, 39, 0.60);
}
.email{
    padding: 10px 250px 10px 10px;
    margin-top: 25px;
    border: 0px;
    border-radius: 5px;
}
.Subscribe-btn{
    padding: 10px 15px;
    background-color: #E55473;
    border-radius: 5px;
    border: 0px;
    margin-left: 5px;
}
/* .Subscribe-btn:hover{
    border: gray 1px solid;
    cursor: pointer;
} */

  
/* footer start here  */
.footer{
    height: 400px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 60px;
    /* align-items: center */
    
}

.footer-heading{
    padding-top: 150px;
    margin-bottom: 20px;
    font-size: 35px;
}
.footer-description{
    width: 520px;
    margin: 0 auto;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.90);
    
}
.footer-description-2{
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
}
